.shop-container {
    margin-top: 10%;
}

.products-container {
    height: 600px;
    overflow: auto;
    padding: 5%;
    box-shadow: 0 0 3px 0 black;
    border-radius: 10px;
    background-color: #bcbebc;
}

