.calendar-container {
    margin-bottom: 7%;
    animation: Opacity-Appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes Opacity-Appear {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.calendar-month-row {
    background-color: #000;
    padding-top: 1%;
    color: #fff;
}