.appointment-type-title-row {
    margin-top: 10%;
}


.lash-services-container-row {
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 10%;
    box-shadow: 0 0 3px 0 black;
    padding: 3% 0;
    background-color: #bcbebc;
}
