.Home {
}

.logo-col {
    margin-top: 5%;
}

.logo {
    width: 600px;
    /* border-bottom: 7px solid #000;
    border-left: 2px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 10px;
    box-shadow: -2px 7px 6px 0 #000; */
}

.home-intro-container, .home-guarantee-container {
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 5% 5% 2% 5%;
}

#intro-container-header {
    font-weight: 900;
}

#intro-container-paragraph {
    font-size: 1.15rem;
}

.lashes-img {
    width: 100%;
}

.guarantee-details-row {
    margin-top: 5%;
    text-align: center;
}

#guarantee-header {
    font-weight: 900;
    padding: 2%;
    text-align: center;
    border-radius: 20px;
    box-shadow: -2px 7px 6px 0 #000;
    border-bottom: 7px solid #000;
    border-left: 2px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.lashes-img {
    border-radius: 20px;
    border-bottom: 7px solid #000;
    border-left: 2px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    box-shadow: -2px 7px 6px 0 #000;
}

.guarantee-img-col, .guarantee-details-col, .intro-col {
    margin: 0 auto;
}

