.Home {
    margin-top: 5%;
}

.logo-col {
margin-bottom: 0;
}

.logo {
    width: 600px;
    /* border-bottom: 7px solid #000;
    border-left: 2px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 10px;
    box-shadow: -2px 7px 6px 0 #000; */
}

.home-intro-container, .home-guarantee-container {
    margin-top: 12%;
    margin-bottom: 5%;
    padding: 5% 5% 2% 5%;
}

.home-intro-container {
    border-radius: 10px;
    background-color: #9a9c9a;
    box-shadow: 0 0 2px 0 black;
}

#intro-container-header {
    font-weight: 900;
    margin-bottom: 5%;
}

#intro-container-paragraph {
    font-size: 1.15rem;
    font-weight: 100;
}

.guarantee-details-row {
    margin-top: 5%;
    text-align: center;
}

#guarantee-header {
    font-weight: 900;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

.lashes-img {
    width: 100%;
    box-shadow: 0 0 2px 0 black;
    border-radius: 10px;
    margin-bottom: 3%;
}

.guarantee-img-col, .guarantee-details-col, .intro-col {
    margin: 0 auto;
}

#guarantee-details {
    margin-bottom: 5%;
}

