.product-in-cart-container {
    border-bottom: 2px solid black;
    padding-top: 20px;
}

.product-in-cart-image {
    width: 50%;
}

.product-in-cart-description {
    margin-top: 50px;
}

.delete-item-col, .edit-quantity-col {
    font-size: 14px;
}

.edit-quantity-col {
    color: rgb(23, 39, 255);
}

.edit-quantity-col:hover, .delete-item-col:hover {
    cursor: pointer;
}

.delete-item-col {
    color: #f00;
}