.book-online-container {


    
}

#book-online-title {
    font-size: 5.0rem;
    font-weight: 200;
}

.book-online-title-row {
    margin-top: 5%;
}

.book-online-details-row {

}

.book-online-details-col {
    margin: 0 auto;
}

#book-online-details {
    font-weight: 100;
}

