.nav-container {
    padding: 1%;
    background-color: #9a9c9b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 5px 0 black;
    z-index: 1000;
}

.nav-links {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
}

.nav-links:hover {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 4px 10px black;
    color: gray;
    animation-name: Nav-Link-Border-Animation;
    animation-duration: 0.25s;
    text-decoration: none;
    background-color: #fff;
}

.active {
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 4px 10px black;
    background-color: black;
    color: white;
}

@keyframes Nav-Link-Border-Animation {
    0% {

        border-radius: 50px;
        padding: 2%;
        box-shadow: 0 1px 4px black;
    }

    33% {
        border-radius: 25px;
        padding: 3%;
        box-shadow: 0 2px 6px black;
    }

    66% {
        border-radius: 12.5px;
        padding: 4%;
        box-shadow: 0 3px 8px black;
    }

    100% {
        border-radius: 7.75px;
        padding: 5%;
        box-shadow: 0 4px 10px black;
    }
}